<div id="<%= dom_id staff %>">
  <p>
    <strong>Is admin:</strong>
    <%= staff.is_admin %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= staff.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= staff.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= staff.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= staff.password %>
  </p>

</div>
