<p style="color: green"><%= notice %></p>

<h1>Staffs</h1>

<%= link_to "New staff", new_staff_path %>

<div id="staffs" style="display: flex; flex-wrap: wrap; gap: 50px;">
  <% @staffs.each do |staff| %>
    <div>
      <%= render staff %>
      <p>
        <%= link_to "Show", staff_path(staff) %> |
        <%= link_to "Edit", edit_staff_path(staff) %> |
        <%= link_to "Delete", delete_staff_path(staff) %>
      </p>
    </div>
  <% end %>
</div>
