<p style="color: green"><%= notice %></p>

<%= link_to "Back to staffs", staffs_path %>

<%= render @staff %>

<div>
  <%= link_to "Edit", edit_staff_path(@staff) %> |
  <%= link_to "Delete", delete_staff_path(@staff) %>
</div>
