<button class="btn btn-secondary create" style="float: right; margin-right: 10%;" onclick="exportDisciplineToExcel('<%= @curr_day.strftime("%B_%Y") %>')"><i class="fa-solid fa-file-export"></i> to Excel</button>
<br><br>

<table class="listing cadet" summary="Cadets Report" id="cadetTable">
    <thead>
        <tr class="header">
            <th>Cadet</th>
            <th>Total Attendance</th>
            <th>Absences</th>
            <th>Work & Ride</th>
            <th>Work</th>
            <th>Ride</th>
            <th>Sections</th>
            <th>Training</th>
        </tr>
    </thead>
    <tbody>
        <% @cadets.each do |cadet| %>
        <tr>
            <td><center><%= "#{cadet.first_name} #{cadet.last_name}" %></center></td>
            <td><center><%= get_user_total_attendance(cadet) %></center></td>
            <td><center><%= get_user_absences(cadet) %></center></td>
            <td><center><%= get_user_work_and_ride(cadet) %></center></td>
            <td><center><%= get_user_work(cadet) %></center></td>
            <td><center><%= get_user_ride(cadet) %></center></td>
            <td><center><%= get_user_sections(cadet) %></center></td>
            <td><center><%= get_user_training(cadet) %></center></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<table class="listing staff" summary="Staffs Report" id="staffTable">
    <thead>
        <tr class="header">
            <th>Command Staff</th>
            <th>Total Attendance</th>
            <th>Absences</th>
            <th>Work & Ride</th>
            <th>Work</th>
            <th>Ride</th>
            <th>Sections</th>
            <th>Training</th>
        </tr>
    </thead>
    <tbody>
        <% @staffs.each do |staff| %>
        <tr>
            <td><center><%= "#{staff.first_name} #{staff.last_name}" %></center></td>
            <td><center><%= get_user_total_attendance(staff) %></center></td>
            <td><center><%= get_user_absences(staff) %></center></td>
            <td><center><%= get_user_work_and_ride(staff) %></center></td>
            <td><center><%= get_user_work(staff) %></center></td>
            <td><center><%= get_user_ride(staff) %></center></td>
            <td><center><%= get_user_sections(staff) %></center></td>
            <td><center><%= get_user_training(staff) %></center></td>
        </tr>
        <% end %>
    </tbody>
</table>

<style>
    tr.header {
        background-color: #A7A7A7;
    }

    table.listing tr:not(.header) {
        background-color: #D1D1D1;
    }

    table.listing {
        width: 90%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid white;
    }

    .dataTables_filter {
        padding-left: 5%;
        float: left !important;
        margin-bottom: 5px;
    }
</style>
