<table class="listing" id="checkin_table" summary="checkin appointment information">
    <tr class="header">
        <th>Date</th>
        <th>Horse</th>
        <th>Purpose</th>
        <th>Checked In</th>
    </tr>

    <tr>
        <td><center><%= @attendance.date %></center></td>
        <% horse = get_horse(@attendance.horse_id) %>    
        <td><center><%= horse == nil ? 'None' : horse.name + ' - ' + horse.brand %></center></td>
        <td><center><%= @attendance.purpose %></center></td>
        <% if @attendance.check_in_time.nil? %>
            <td style="background-color: <%= get_checkin_time_color(@attendance) %> !important"></td>
        <% else %>
            <td style="background-color: <%= get_checkin_time_color(@attendance) %> !important"><center><%= @attendance.check_in_time %></td>
        <% end %>
    </tr>
    
</table>




<style>
    tr.header {
        background-color: #A7A7A7;
    }

    table.listing tr:not(.header) {
        background-color: #D1D1D1;
    }

    table.listing {
        width: 70%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid white;
    }
</style>


