<table class="listing" summary="Horse Report">
    <tr class="header">
        <th>Horse</th>
        <th># of days used</th>
        <th>Herd</th>
        <th>Difficulty</th>
        <th>Condition</th>
    </tr>

    <% @horses.each do |horse| %>
    <tr>
        <td><center><%= "#{horse.name} - #{horse.brand}" %></center></td>
        <td><center><%=  %></center></td>
        <td style="background-color: <%= get_horse_herd_color(horse) %> !important"><center><%= horse.herd %></center></td>
        <td style="background-color: <%= get_horse_difficulty_color(horse) %> !important"><center><%= horse.difficulty %></center></td>
        <td><center><%= horse.condition %></center></td>
    </tr>
    <% end %>
</table>


<style>
    tr.header {
        background-color: #A7A7A7;
    }

    table.listing tr:not(.header) {
        background-color: #D1D1D1;
    }

    table.listing {
        width: 75%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid white;
    }
</style>