<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<br>

<div class="btn-group">
    <button type="button" id="horse-usage-btn" class="btn <%= (request.cookies[:report_type] == 'horse') ? 'btn-dark' : 'btn-secondary' %>">Ride Report</button>
    <button type="button" id="cadets-report-btn" class="btn <%= (request.cookies[:report_type] == 'cadet') ? 'btn-dark' : 'btn-secondary' %>">Discipline Report</button>
</div>

<br>

<div id="report-component">
    <% if request.cookies[:report_type] == 'horse' %>
        <%= render(HorseReportComponent.new(@horses, @start_day, @end_day, @curr_day)) %>
    <% else %>
        <%= render(CadetReportsComponent.new(@cadets, @staffs, @start_day, @end_day, @curr_day)) %>
    <% end %>
</div>

<script>



    const horseUsageBtn = document.querySelector('#horse-usage-btn');
    const cadetsReportBtn = document.querySelector('#cadets-report-btn');

    // when horse report button is pressed, add the necessary styles to button and remove from cadet report button
    horseUsageBtn.addEventListener('click', () => {
        horseUsageBtn.classList.add('btn-dark');
        horseUsageBtn.classList.remove('btn-secondary');
        cadetsReportBtn.classList.remove('btn-dark');
        cadetsReportBtn.classList.add('btn-secondary');
        document.querySelector('#report-component').innerHTML = '<%= j render(HorseReportComponent.new(@horses, @start_day, @end_day, @curr_day)) %>';
        document.cookie = "report_type=horse; path=/";
        $(document).ready(function() {
            $('#horseTable').DataTable( {
                paging: false,
                lengthChange: false,
                info: false,
                "orderMulti": true,
                stateSave: true
            });
        });
    });

    // when cadets report button is pressed, add the necessary styles to button and remove from horse usage button
    cadetsReportBtn.addEventListener('click', () => {
        horseUsageBtn.classList.remove('btn-dark');
        horseUsageBtn.classList.add('btn-secondary');
        cadetsReportBtn.classList.add('btn-dark');
        cadetsReportBtn.classList.remove('btn-secondary');
        document.querySelector('#report-component').innerHTML = '<%= j render(CadetReportsComponent.new(@cadets, @staffs, @start_day, @end_day, @curr_day)) %>';
        document.cookie = "report_type=cadet; path=/";
        $(document).ready(function() {
            $('#cadetTable').DataTable( {
                paging: false,
                lengthChange: false,
                info: false,
                "orderMulti": true,
                stateSave: true
            });
        });
        $(document).ready(function() {
            $('#staffTable').DataTable( {
                paging: false,
                lengthChange: false,
                info: false,
                "orderMulti": true,
                stateSave: true
            });
        });
    });

    // helper function to get cookies
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) {
            return parts.pop().split(";").shift();
        } else {
            return "horse"; // set default report type to "horse"
        }
    }

    // when page is loaded, make sure the correct button is clicked on already
    window.onload = function() {
        const reportTypeCookie = getCookie("report_type");
        if (reportTypeCookie === "cadet") {
            cadetsReportBtn.classList.add('btn-dark');
            cadetsReportBtn.classList.remove('btn-secondary');
            horseUsageBtn.classList.remove('btn-dark');
            horseUsageBtn.classList.add('btn-secondary');
            document.querySelector('#report-component').innerHTML = '<%= j render(CadetReportsComponent.new(@cadets, @staffs, @start_day, @end_day, @curr_day)) %>';
            $(document).ready(function() {
                $('#cadetTable').DataTable( {
                    paging: false,
                    lengthChange: false,
                    info: false,
                    "orderMulti": true,
                    stateSave: true
                });
            });

            $(document).ready(function() {
                $('#staffTable').DataTable( {
                    paging: false,
                    lengthChange: false,
                    info: false,
                    "orderMulti": true,
                    stateSave: true
                });
            });
        } else { // set default report type to "horse"
            horseUsageBtn.classList.add('btn-dark');
            horseUsageBtn.classList.remove('btn-secondary');
            cadetsReportBtn.classList.remove('btn-dark');
            cadetsReportBtn.classList.add('btn-secondary');
            document.querySelector('#report-component').innerHTML = '<%= j render(HorseReportComponent.new(@horses, @start_day, @end_day, @curr_day)) %>';
            document.cookie = "report_type=horse; path=/";
            $(document).ready(function() {
                $('#horseTable').DataTable( {
                    paging: false,
                    lengthChange: false,
                    info: false,
                    "orderMulti": true,
                    stateSave: true
                });
            });
        }
    };

    // export ride report table to excel
    function exportRideToExcel(curr_day) {
        /* Create a new Excel workbook and sheet */
        var wb = XLSX.utils.book_new();
        var ws = XLSX.utils.table_to_sheet(document.getElementsByClassName("listing")[0]);

        /* Add the sheets to the workbook */
        XLSX.utils.book_append_sheet(wb, ws, "Horse Report");

        /* Save the workbook as an Excel file */
        XLSX.writeFile(wb, curr_day + "_ride_report.xlsx");
    }

    // export discipline report table to excel
    function exportDisciplineToExcel(curr_day) {
        /* Create a new Excel workbook and sheet */
        var wb = XLSX.utils.book_new();
        var ws = XLSX.utils.table_to_sheet(document.getElementsByClassName("listing")[0]);
        var ws2 = XLSX.utils.table_to_sheet(document.getElementsByClassName("listing")[1]);

        /* Add the sheets to the workbook */
        XLSX.utils.book_append_sheet(wb, ws, "Cadets Report");
        XLSX.utils.book_append_sheet(wb, ws2, "Staffs Report");

        /* Save the workbook as an Excel file */
        XLSX.writeFile(wb, curr_day + "_discipline_report.xlsx");
    }
</script>
