<%= form_with(model: @horse) do |form| %>
  <% if @horse.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>

      <ul>
        <% @horse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>
  <div>
    <%= form.label :herd, style: "display: block" %>
    <%= form.select :herd, ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Injured', 'OOS']%>
  </div>
  <div>
    <%= form.label :difficulty, style: "display: block" %>
    <%= form.select :difficulty, ['Easy', 'Intermediate', 'Advanced']%>
  </div>
  <div>
    <%= form.label :condition, style: "display: block" %>
    <%= form.text_field :condition %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
