<div class="tasks delete">
    <h2>Delete Horse</h2>

    <%= form_for(@horse, method: 'delete') do |f| %>
    <% # url: task_path(@task), method: 'delete' %>

    <p>Are you sure you want to permanently delete this horse?</p>
        
    <table class="listing" summary="Task list" style="width: 30%;" border = "1">
        <tr>
            <th>Name:</th>
            <td><%= @horse.name %></td>
        </tr>

        <tr>
            <th>Brand:</th>
            <td><%= @horse.brand %></td>
        </tr>
        <tr>
            <th>Herd:</th>
            <td><%= @horse.herd %></td>
        </tr>
    </table>
    
    <br>    
    <div class="form-buttons">
        <%= f.submit("Delete Horse") %>  
    </div>

    <% end %>

    <br>
    <%= link_to("<button>Back to Horses</button>".html_safe, horses_path, class: 'back-link') %>
</div>