<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :is_admin, style: "display: block" %>
    <%= form.check_box :is_admin %>
  </div>

  <div>
    <%= form.label :is_staff, style: "display: block" %>
    <%= form.check_box :is_staff %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :classification, style: "display: block" %>
    <%= form.select :classification, ['Sophomore', 'Junior', 'Senior']%>
  </div>

  <div>
    <%= form.label :skill_level, style: "display: block" %>
    <%= form.select :skill_level, ['Beginner', 'Intermediate', 'Advanced']%>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number, placeholder: "1234567890" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
