<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div style="display: inline-flex;">
    <div style="margin-right: 10px;">
      <%= form.label :first_name, style: "display: block" %>
      <%= form.text_field :first_name %>
    </div>
    <div>
      <%= form.label :last_name, style: "display: block" %>
      <%= form.text_field :last_name %>
    </div>
  </div>

  <br>

  <div style="display: inline-flex;">
    <div style="margin-right: 10px;">
      <% if User.where(:email => current_admin.email).first.is_admin? %>
        <%= form.label :role, style: "display: block" %>
        <%= form.select :role, options_for_select([['Cadet', 'Cadet'], ['Command Staff', 'Command Staff'], ['Admin', 'Admin']], selected: @user.is_admin ? 'Admin' : @user.is_staff ? 'Command Staff' : 'Cadet') %>
      <% else %>
        <%= form.label :role, style: "display: block" %>
        <%= form.select :role, options_for_select([['Cadet', 'Cadet'], ['Command Staff', 'Command Staff']], selected: @user.is_admin ? 'Admin' : @user.is_staff ? 'Command Staff' : 'Cadet') %>
      <% end %>
    </div>
    <div>
      <%= form.label :classification, style: "display: block" %>
      <%= form.select :classification, ['Sophomore', 'Junior', 'Senior', 'Other', 'OOS']%>
    </div>
  </div>

  <div>
    <%= form.label :skill_level, style: "display: block" %>
    <%= form.select :skill_level, ['Beginner', 'Intermediate', 'Advanced']%>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number, placeholder: "1234567890" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <br>
    <%= form.submit class: "btn btn-primary create" %>
  </div>
<% end %>
