<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mx-auto" href="/" style="color: #dfad14;">Parsons Mounted Cavalry Attendance</a>
      <%= link_to("<button type='button' class='btn btn-outline-danger'>Logout</button>".html_safe, '/') %>
    </div>
  </nav>

  <%# Sidebar %>
  <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel" style="max-width: 200px;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-white" id="sidebarLabel">Cadet</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr style="border-top: 2px solid #dfad14;">
    <div class="offcanvas-body">
      <ul class="nav d-flex flex-column justify-content-center align-items-center mb-2">
        <li class="nav-item">
          <%= link_to "Check-in", attendances_path, class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Schedule", horses_path, class: "nav-link text-white" %>
        </li>
      </ul>
    </div>
    <hr style="border-top: 2px solid #dfad14;">
    <div class="d-flex justify-content-center align-items-center mx-auto" style="color: white; padding-bottom: 10px;">
      <i class="fa-solid fa-landmark p-2"></i>
      <i class="fa-brands fa-facebook p-2"></i>
      <i class="fa-brands fa-twitter p-2"></i>
      <i class="fa-brands fa-instagram p-2"></i>
      <i class="fa-regular fa-envelope p-2"></i>
    </div>
  </div>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <p style="color: green"><%= notice %></p>
    <h1>Cadets View</h1>
    <br>
    <%= link_to "All Users", users_path %>
    <br>
    <%= link_to("<button>Add New User</button>".html_safe, new_user_path, class: 'action new') %>

  </div>
</body>
