<body style="min-height: 100vh;">
<%# Content %> 
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
    <%= image_tag("PMC_Attendance.png") %>
    <%= image_tag("PMC_Logo.png") %>
    <form class="border border-primary p-3">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button class="btn btn-success" type="submit">Login</button>
      <br>
      <%= link_to "Admin", admins_schedules_path() %>
      <%= link_to "Staff", staffs_schedules_path() %>
      <%= link_to "Cadet", checkin_cadets_pages_path() %>
    </form>
  </div>

  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    form {
      max-width: 400px;
    }
    
    form.border-primary {
      border-color: #dfad14 !important;
    }
  </style>
</body>