<p style="color: green"><%= notice %></p>

<%= link_to "Attendance", attendances_path %> |
<%= link_to "Horses", horses_path %>

<h1>Users</h1>

<%= link_to "New user", new_user_path %>

<div id="users" style="display: flex; flex-wrap: wrap; gap: 50px;">
  <% @users.each do |user| %>
    <div>
      <%= render user %>
      <p>
        <%= link_to "Show", user_path(user) %> |
        <%= link_to "Edit", edit_user_path(user) %> |
        <%= link_to "Delete", delete_user_path(user) %>
      </p>
    </div>
  <% end %>
</div>
