<body class="align-items-center justify-content-center">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <% user = User.where(:email => current_admin.email).first %>
  <% if user.is_admin %>
    <%= render(SidebarAdminsComponent.new())%>
  <% elsif user.is_staff %>
    <%= render(SidebarStaffsComponent.new())%>
  <% end %>

  <div class="justify-content-center align-items-center mx-auto text-center">
    <p style="color: green"><%= notice %></p>

    <%= render @user %>

    <div>
      <%= link_to "Edit this user", edit_user_path(@user) %> |
      <%= link_to "Back to users", users_get_user_path(User.where(:email => current_admin.email).first) %>

      <%= button_to "Destroy this user", @user, method: :delete %>
    </div>
  </div>
</body>
