<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :assignee_id, style: "display: block" %>
    <%= form.select :assignee_id, User.order(:first_name).map { |user| [user.first_name, user.id] }, id: "id_of_the_assignee_id_select_box" %>
    </div>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <%= form.text_field :recurrence %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
