<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id %>

  <div>
    <%= form.label :recurrence, style: "display: block" %>
    <div class="d-flex justify-content-center" style="gap: 20px;">
      <%= form.collection_check_boxes :recurrence, [['M', 'Monday'], ['T', 'Tuesday'], ['W', 'Wednesday'], ['R', 'Thursday'], ['F', 'Friday']], :first, :last, include_hidden: false do |b| %>
        <div class="d-flex flex-column">
          <%= b.label %>
          <%= b.check_box %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div>
    <%= form.submit class: "btn btn-primary create" %>
  </div>
<% end %>
