<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">

    <div class="schedules delete">
        <h2>Delete Schedule</h2>

        <%= form_for(@schedule, method: 'delete') do |f| %>
        <% # url: schedule_path(@schedule), method: 'delete' %>

        <p>Are you sure you want to permanently delete this schedule?</p>
            
        <table class="listing" summary="Schedule list" style="width: 30%;" border = "1">
            <tr>
                <th>User:</th>
                <td><%= @schedule.user_id %></td>
            </tr>

            <tr>
                <th>Recurrence:</th>
                <td><%= @schedule.recurrence %></td>
            </tr>
        </table>
        
        <br>    
        <div class="form-buttons">
            <%= f.submit("Delete Schedule") %> 
        </div>

        <% end %>

        <br>
        <%= link_to("<button>Back to Schedules</button>".html_safe, admins_schedules_path, class: 'back-link') %>
    </div>
  </div>
</body>
