<body class="align-items-center justify-content-center">
  <%= render(NavbarComponent.new())%>

<h1>Schedules</h1>

<%= link_to "<button type='button' class='btn btn-secondary create'>Back to Schedules</button>".html_safe, schedules_get_user_path(User.where(:email => current_admin.email).first) %>
<br><br>
  <%# Sidebar %>
  <% user = User.where(:email => current_admin.email).first %>
  <% if user.is_admin %>
    <%= render(SidebarAdminsComponent.new())%>
  <% elsif user.is_staff %>
    <%= render(SidebarStaffsComponent.new())%>
  <% end %>

  <h1>All Schedules</h1>

  <table class="listing" summary="Schedule list" style="width: 75%; margin: 20px auto;">
    <tr class="header">
      <th><center>User</center></th>
      <th><center>Recurrence</center></th>
      <th><center>Edit</center></th>
      <th><center>Delete</center></th>
    </tr>

    <% @schedules.each do |schedule| %>
      <% user = User.find(schedule.user_id) %>
      <% unless (user.is_admin || (user.classification == 'OOS')) %>
        <tr>
          <td><center><%= user_full_name(schedule.user_id) %></center></td>
          <td><center><%= recurrence_str(schedule.recurrence) %></center></td>
          <td id="edit-<%= schedule.id %>"><center><%= link_to("<i class='fa-solid fa-pen-to-square'></i>".html_safe, edit_schedule_path(schedule), class: 'action update', style: 'color: black;') %></center></td>
          <td id="delete-<%= schedule.id %>"><center><%= link_to("<i class='fa-solid fa-trash-can'></i>".html_safe, delete_schedule_path(schedule), class: 'action delete', style: 'color: black;') %></center></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</body>

<style>
  tr.header {
    background-color: #A7A7A7;
  }

  table.listing tr:not(.header) {
    background-color: #D1D1D1;
  }

  table.listing {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid white;
  }
</style>
