<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <br>
    <h1>New schedule</h1>
    <% user = User.find(@schedule.user_id) %>
    <h2><%= user.first_name %> <%= user.last_name %></h2>
    <%= render "form", schedule: @schedule %>

    <br>

    <div>
      <%= link_to("<button type='button' class='btn btn-secondary create'>Back to Schedules</button>".html_safe, admins_schedules_path, :class => 'back-link') %>
    </div>
  </div>
</body>
