<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <p style="color: green"><%= notice %></p>

    <%= render @schedule %>

    <div>
      <%= link_to "<button>Edit</button>".html_safe, edit_schedule_path(@schedule), class: 'edit-schedule-btn' %>
      <%= link_to "<button>Delete</button>".html_safe, delete_schedule_path(@schedule), class: 'delete-schedule-btn' %>
    </div>

    <br>
    <%= link_to "<button>Back to schedules</button>".html_safe, schedules_get_user_path(User.where(:email => current_admin.email).first) %>
  </div>
</body>
