<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to "<button>Edit</button>".html_safe, edit_schedule_path(@schedule) %>
  <%= link_to "<button>Delete</button>".html_safe, delete_schedule_path(@schedule) %>
</div>

<br>
<%= link_to "<button>Back to schedules</button>".html_safe, schedules_path %>
