<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new()) %>

  <%# Sidebar %>
  <%= render(SidebarCadetsComponent.new()) %>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>Check-in</h1>
    <br><br>
    <div id="checkin-container">
      <%= render(NothingScheduledComponent.new()) %>
    </div>
    <br>
    <button id="toggle-checkin-button">Switch to Check-in</button>
  </div>

  <script>
    const toggleCheckinButton = document.getElementById("toggle-checkin-button");
    const checkinContainer = document.getElementById("checkin-container");

    let isNothingScheduled = true;

    toggleCheckinButton.addEventListener("click", () => {
      if (isNothingScheduled) {
        checkinContainer.innerHTML = '<%= j render(CheckInComponent.new()) %>';
        toggleCheckinButton.innerText = "Switch to Nothing Scheduled";
      } else {
        checkinContainer.innerHTML = '<%= j render(NothingScheduledComponent.new()) %>';
        toggleCheckinButton.innerText = "Switch to Check-in";
      }

      isNothingScheduled = !isNothingScheduled;
    });
  </script>
</body>
