<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%# Navbar %>
  <%= render(NavbarComponent.new()) %>

  <%# Sidebar %>
  <%= render(SidebarCadetsComponent.new()) %>

  <%# Content %>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <h1>Check-in</h1>
    <br><br>
    <div id="checkin-container">
      <% if @attendance.nil? %>
        <%= render(NothingScheduledComponent.new()) %>
      <% else %>
        <div id="attendance-id" style="display:none"><%= @attendance.id %></div>
        <%= render(CheckInComponent.new(@attendance)) %>
        <% if @attendance.check_in_time.nil? %>
          <button type='button' class='btn btn-secondary create' onclick="onCheckIn()">Check In</button>
        <% end %> 
        
      <% end %>
    </div>
    <br>
    <br>

    <%# Check in button %>
    <%# <% if @attendance.nil? && @attendance.check_in_time.nil? %>
        
    <%# <% end %> 

    <br>
    <br>

    <%# Div for messages to pop up after clicking check in button %>
    <div id="checkin_results"></div>
  </div>

</body>

<script>
    // Run when check in button is clicked
    function onCheckIn() {
        Noty.overrideDefaults({ theme: 'relax', layout: 'topCenter' });

        // Navigator.geolocation is used to get user's current location in latitude and longitude
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userlat = position.coords.latitude;
                var userlong = position.coords.longitude;

                var pmc = {lat: 30.609433, lng: -96.3730202}; // 3748 F and B Rd, College Station, TX 77845
                var userLocation = {lat: userlat, lng: userlong};

                const checkinResults = document.getElementById("checkin_results");
                const checkinContainer = document.getElementById("checkin-container");

                var attendanceId = document.getElementById("attendance-id").innerText;
                
                // If userLocation is within 1 km of PMC, then user can check in
                if (isWithinRange(userLocation, pmc, 1)) {
                    $.ajax({
                      url: "/pages/checkedin",
                      data: {id: attendanceId},
                      type: 'patch'
                    }).done(function() {
                      new Noty({
                        text: "You have been checked in!",
                        type: "success"
                      }).show();
                      document.querySelector('#checkin-container').innerHTML = '<%= j render(CheckInComponent.new(@attendance)) %>';
                    }).fail(function() {
                      new Noty({
                        text: "Couldn't check you in.",
                        type: "error"
                      }).show();
                    });
                    
                } else {
                    checkinResults.innerHTML = '<h2> YOU ARE NOT AT PARSONS MOUNTED CAVALRY! PLEASE CHECK IN WHEN YOU HAVE ARRIVED. </h2>';
                }
            }, function(position) {
                new Noty({
                text: "Could not get location",
                type: "error"
            }).show();
            });
        } else {
            new Noty({
            text: "Geolocation is not supported by this browser.",
            type: "error"
        }).show();
        }

    }

    // Checks if checkpoint is within km distance of centerPoint
    // Source: http://jsfiddle.net/Guffa/57gQa/
    function isWithinRange(checkPoint, centerPoint, km) {
        var ky = 40000 / 360;
        var kx = Math.cos(Math.PI * centerPoint.lat / 180.0) * ky;
        var dx = Math.abs(centerPoint.lng - checkPoint.lng) * kx;
        var dy = Math.abs(centerPoint.lat - checkPoint.lat) * ky;
        return Math.sqrt(dx * dx + dy * dy) <= km;
    }
</script>
