<body>
<%# Content %> 
<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
    <%= image_tag("PMC_Attendance.png") %>
    <%= image_tag("PMC_Logo.png") %>
    <span class="border border-warning p-3">
    <div>
        <%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, :class =>"btn btn-success"%>
    </div>
      <br>
      <%= link_to "Admin", admins_schedules_path() %>
      <%= link_to "Staff", staffs_schedules_path() %>
      <%= link_to "Cadet", checkin_cadets_pages_path() %>
    </span>
  </div>

  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    form {
      max-width: 400px;
    }
    
    form.border-primary {
      border-color: #dfad14 !important;
    }
  </style>
</body>