<div id="<%= dom_id cadet %>">
  <p>
    <strong>First name:</strong>
    <%= cadet.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= cadet.last_name %>
  </p>

  <p>
    <strong>Graduation year:</strong>
    <%= cadet.graduation_year %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= cadet.phone_number %>
  </p>

  <p>
    <strong>Uin:</strong>
    <%= cadet.uin %>
  </p>

</div>
