<%= link_to("Back to cadets", cadets_path, class: 'back-link') %>

<div class="cadets delete">
  <h2>Delete Cadet</h2>

  <%= form_for(@cadet, method: 'delete') do |f| %>
    <% # url: book_path(@book), method: 'delete' %>

    <p>Are you sure you want to permanently delete this cadet?</p>
    <p><%= @cadet.first_name %> <%= @cadet.last_name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Cadet") %>
    </div>

  <% end %>
</div>