<div id="<%= dom_id attendance %>">
  <p>
    <strong>Attendance Id:</strong>
    <%= attendance.attendance_id %>
  </p>

  <p>
    <strong>Cadet Id:</strong>
    <%= attendance.cadet_id %>
  </p>

  <p>
    <strong>Horse Id:</strong>
    <%= attendance.horse_id %>
  </p>

  <p>
    <strong>Staff Id:</strong>
    <%= attendance.staff_id %>
  </p>

  <p>
    <strong>Appointment time:</strong>
    <%= attendance.appointment_time %>
  </p>

  <p>
    <strong>Check in time:</strong>
    <%= attendance.check_in_time %>
  </p>

  <p>
    <strong>Check out time:</strong>
    <%= attendance.check_out_time %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= attendance.purpose %>
  </p>

</div>
