<div id="<%= dom_id attendance %>" style="display: flex; justify-content: center">
  <table class="listing" summary="Attendance list" style="width: 30%;" border = "1">
    <% schedule = Schedule.find(attendance.schedule_id) %>
    <tr>
        <th>Date:</th>
        <td><%= attendance.date.strftime('%a, %b %-d, %Y') %></td>
    </tr>
    <tr>
        <% user = User.find(schedule.user_id) %>
        <th>User:</th>
        <td><%= user.first_name %> <%= user.last_name %></td>
    </tr>
    <tr>
        <th>Horse:</th>
        <% if Horse.exists?(attendance.horse_id) %>
          <% horse = Horse.find(attendance.horse_id) %>
          <td><%= horse.name %> - <%= horse.brand %></td>
        <% else %>
          <td>None</td>
        <% end %>
    </tr>
    <tr>
        <th>Purpose:</th>
        <td><%= attendance.purpose %></td>
    </tr>
    <tr>
      <th>Check in Time:</th>
      <% display = (attendance.check_in_time == nil) ? 'Not checked in' : attendance.check_in_time.strftime("%I:%M %p") %>
      <td><%= display %></td>
    </tr>
  </table>
</div>

<style>
  tr.header {
    background-color: #A7A7A7;
  }

  table.listing tr:not(.header) {
    background-color: #D1D1D1;
  }

  table.listing {
    width: 75%;
    margin: 0 auto;
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid white;
  }
</style>
