<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :schedule_id %>
  <%= form.hidden_field :date %>

  <div>
    <%= form.label :horse_id, style: "display: block" %>
    <%= form.select :horse_id, horses_info() %>
  </div>

  <div>
    <%= form.label :purpose, style: "display: block" %>
    <%= form.select :purpose, ['Ride', 'Work', 'Ride & Work', 'Training', 'Sections', 'No']%>
  </div>

  <br>
  <div>
    <%= form.submit class: "btn btn-primary create" %>
  </div>
<% end %>
