<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <div class="attendances delete">
        <h2>Delete Attendance</h2>

        <%= form_for(@attendance, method: 'delete') do |f| %>
        <% # url: attendance_path(@attendance), method: 'delete' %>

        <p>Are you sure you want to permanently delete this attendance?</p>
            
        <%= render @attendance %>
        
        <br>    
        <div class="form-buttons">
            <%= f.submit("Delete attendance") %>  
        </div>

        <% end %>

        <br>
        <%= link_to("<button>Back to attendances</button>".html_safe, admins_attendances_path, class: 'back-link') %>
    </div>
  </div>
</body>
