<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <br>
    <h1>New Attendance for: <span style="color: red;"><%= user_by_schedule_id(@attendance.schedule_id) %></span></h1>
    <h2>Date: <%= format_date(@attendance.date) %></h2>

    <%= render "form", attendance: @attendance %>

    <br>

    <div>
      <%= link_to("<button type='button' class='btn btn-secondary create'>Back to Schedules</button>".html_safe, admins_schedules_path, :class => 'back-link') %>
    </div>
  </div>
</body>
