<body class="align-items-center justify-content-center" style="overflow-x: hidden; overflow-y: hidden;">
  <%= render(NavbarComponent.new())%>

  <%# Sidebar %>
  <%= render(SidebarAdminsComponent.new())%>
  <div class="justify-content-center align-items-center mx-auto text-center">
    <p style="color: green"><%= notice %></p>

    <%= render @attendance %>

    <div>
      <br />
      <%= link_to "<button>Edit</button>".html_safe, edit_attendance_path(@attendance) %>
      <%= link_to "<button>Delete</button>".html_safe, delete_attendance_path(@attendance) %>
    </div>

    <br />
    <%= link_to "<button>Back to attendances</button>".html_safe, admins_schedules_path %>
  </div>
</body>
